<main class="svelte-1ndvb3n">
    <div class="containers svelte-d4f482">
        <h1 class="svelte-d4f482"></h1>
        <div class="row col-md-12">
            <div class="col-md-4">
                <p class="svelte-d4f482"><strong></strong></p>
                <p class="svelte-d4f482">.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <p class="svelte-d4f482"><strong></strong></p>
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
</main>