<div class="row" style="width: 100%; padding-bottom: 15px;">
    <div class="container-fluid" style="height: 100px;">
        <div class="d-flex justify-content-between bd-highlight mb-3">
            <div class="p-2 bd-highlight">

                <div style="padding-left: 15px;">
                    <img src="../../assets/emblem.svg" alt="Emblem of Nepal" style="height: 100px; width: 100px;">
                </div>


            </div>
            <div class="p-2 bd-highlight" style="margin-top: 20px;">

                <h2>Nepal Health Workforce Registry</h2>

            </div>
            <div class="p-2 bd-highlight">

                <div style="padding-left: 15px;">
                    <img src="../../assets/flag.svg" alt="Flag of Nepal" style="height: 90px; width: 90px;">
                </div>

            </div>
        </div>
    </div>

</div>

<div class="hr"></div>


<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item 1"><a href="javascript:void(0)" class="nav-link active" aria-current="page"
                    (click)="changeContent($event)" routerLink="/" *ngIf="islogedin==0">Home</a></li>
            <!-- <li *ngIf="islogedin==1" class="nav-item 3"><a href="javascript:void(0)" class="nav-link"
                    (click)="changeContent($event)" routerLink="user-register">Register User</a>
            </li> -->

            <li class="nav-item dropdown" *ngIf="role==1">
                <a class="nav-link dropdown-toggle" aria-current="page" (click)="changeContent($event)"
                    data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
                    aria-expanded="false">User Registration</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="user-register">Register new User</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="registered-user-list">List of Registered Users</a>
                </div>
            </li>








            <li style="display: none;" class="nav-item 2"><a href="javascript:void(0)" class="nav-link" (click)="changeContent($event)"
                    routerLink="/search">Search</a></li>
            <li style="display: none;" class="nav-item 4"><a href="javascript:void(0)" class="nav-link"
                    (click)="changeContent($event)">Dashboard</a></li>
            <!-- <li class="nav-item 5" *ngIf="islogedin==1"><a href="javascript:void(0)" class="nav-link" (click)="changeContent($event)" routerLink ="/registry">Workforce Registry</a>
            </li> -->

            <li class="nav-item dropdown" *ngIf="islogedin==1">
                <a class="nav-link dropdown-toggle" aria-current="page" (click)="changeContent($event)"
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Workforce
                    Registry</a>
                <div class="dropdown-menu">
                    <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="changeContent($event)"
                        routerLink="/registry">Registry</a> -->
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/reglist">Workforce List</a>
                   <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/emplist">Employee List</a>
                 <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/report">Report</a>

                </div>
            </li>
            <li class="nav-item 5" *ngIf="islogedin==1"><a href="javascript:void(0)" class="nav-link"
                (click)="changeContent($event)" routerLink="/registry">New Registry</a>
        </li>


            <li class="nav-item 5" *ngIf="islogedin==1"><a href="javascript:void(0)" class="nav-link"
                    (click)="changeContent($event)" routerLink="/darbandi/0">Darbandi</a>
            </li>


            <li class="nav-item dropdown" *ngIf="role==1">
                <a class="nav-link dropdown-toggle" aria-current="page" (click)="changeContent($event)"
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Setup</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/group">Group</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/subgroup">Subgroup</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/level">Level</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/post">Post</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/emptype">Employee Type</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/council">Council</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/health-office">Health Offices</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/edulevel">Education Level</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        routerLink="/qualification">Qualification</a>
                </div>
            </li>

            <!-- <li class="nav-item 6" *ngIf="islogedin==1"><a href="javascript:void(0)" class="nav-link"
                    (click)="logout()">Logout [{{userInfo}}]
                </a></li> -->

            <li class="nav-item dropdown" *ngIf="islogedin==1">
                <a class="nav-link dropdown-toggle" aria-current="page" (click)="changeContent($event)"
                    data-toggle="dropdown" href="javascript:void(0)">Profile</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                    (click)="openModal(template)">Change Password</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeContentDropdown($event)"
                        (click)="logout()">Logout [{{userInfo}}]</a>

                </div>
            </li>

            <li class="nav-item 6" *ngIf="islogedin==0"><a href="javascript:void(0)" class="nav-link"
                    (click)="changeContent($event)" routerLink="/admin-login">Admin
                    Login</a></li>
        </ul>
    </header>
</div>

<div class="row">
    <div class="container-fluid" style="padding: 60px;">

        <div class="1 page-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Change Password: {{userInfo}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

            <div class="row">
                <div class="col-md-3">
                    <label>Old Password</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="password" formControlName="opassword">
                    <span style="color: red;"
                        *ngIf="changePasswordForm.controls.opassword && changePasswordForm.controls.opassword.invalid && changePasswordForm.controls.opassword.touched">
                        *Required Field
                    </span>
                </div>
                <div class="col-md-1 mt-1">
                    <a (click)="showPassword($event)">
                        <i class="bi bi-eye-slash-fill fa-lg"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <label>New Password</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="password" formControlName="password">
                    <span style="color: red;"
                        *ngIf="changePasswordForm.controls.password && changePasswordForm.controls.password.invalid && changePasswordForm.controls.password.touched">
                        Passwords must match and be Minimum eight characters,
                        at least one uppercase letter, one lowercase letter, one number and one special character
                    </span>
                </div>
                <div class="col-md-1 mt-1">
                    <a (click)="showPassword($event)">
                        <i class="bi bi-eye-slash-fill fa-lg"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <label>Confirm Password</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="password" formControlName="rpassword">
                    <span style="color: red;"
                        *ngIf="changePasswordForm.controls.rpassword && changePasswordForm.controls.rpassword.invalid && changePasswordForm.controls.rpassword.touched">
                        Passwords must match and be Minimum eight characters,
                        at least one uppercase letter, one lowercase letter, one number and one special character
                    </span>
                </div>
                <div class="col-md-1 mt-1">
                    <a (click)="showPassword($event)">
                        <i class="bi bi-eye-slash-fill fa-lg"></i>
                    </a>

                </div>
            </div>

            <button class="btn btn-success mt-2" style="box-shadow: 0 10px 30px 0 rgba(95, 233, 95, 0.4);
            border-radius: 5px 5px 5px 5px; float: right;">
                Change Password
            </button>

        </form>
    
    </div>
</ng-template>