<!-- <div id="oas_reading" class="oas-reading"> -->
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="c1">
                <div class="card-header"><strong>Health Workforce Registry</strong></div>
                <div class="card-body">
                    <form class="form-signin" [formGroup]= "regForm" (ngSubmit)= "groupFormSubmit()">
                        <input type="hidden" class="form-control" name="id" formControlName="id"> 
                       <div class="row col-md-12">

                        <div class="row input-group col-md-6">
                            <div class="col-md-4 forRequired">
                                <label>Province</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" name="provinceid" #pid formControlName="provinceid"
                                (change)="getDistricts(pid.value)">
                                <option value="">Select One</option>
                                <option *ngFor=" let item of provinces " [value]="item.pid">{{ item.namenp}}</option>
                            </select>
                               
    
                            </div>
                            </div>

                            <div class="row input-group col-md-6">
                                <div class="col-md-4 forRequired">
                                    <label>District</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" name="districtid" #did formControlName="districtid"
                                    (change)="getPalika(did.value)">
                                    <option value="">Select One</option>
                                    <option *ngFor=" let item of district " [value]="item.districtid">{{ item.namenp}}</option>
                                </select>
                                   
        
                                </div>
                                </div><br><br>

                                <div class="row input-group col-md-6">
                                    <div class="col-md-4 forRequired">
                                        <label>Municipality</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" name="palika" #pal formControlName="palika"
                                        (change)="getWard(pal.value)">
                                        <option value="">Select One</option>
                                        <option *ngFor=" let item of palika " [value]="item.vcid">{{ item.namenp}}</option>
                                    </select>
                                       
            
                                    </div>
                                    </div>

                                    <div class="row input-group col-md-6">
                                        <div class="col-md-4 forRequired">
                                            <label>Ward No.</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" name="ward" #wd formControlName="ward" (change)="getHf(pal.value,wd.value)">
                                            <option value="">Select One</option>
                                            <option *ngFor=" let item of ward " [value]="item">{{ item}}</option>
                                        </select>
                                           
                
                                        </div>
                                        </div><br><br>


                        <div class="row input-group col-md-6">
                            <div class="col-md-4 forRequired">
                                <label>Organization/Health Facility</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" name="org" formControlName="org" #orgid (change)="getInfo(orgid.value)">
                                    <option value=""  >Select Health Facility</option>
                                    <option *ngFor=" let item of hf " [value]="item.id">{{ item.hfcode}} {{ item.hfname}}</option>
                                    <!-- <option value="3">HF3</option> -->
                                    
                                </select>
                               
    
                            </div>
                            </div>

                            <div class="row input-group col-md-6">
                                <div class="col-md-4 forRequired">
                                    <label>Authority</label>
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" name="authority" formControlName="authority">
                                        <option value=""  >Select one</option>
                                        <option value="1">Government</option>
                                        <option value="2">Non Government</option>
                                    
                                        
                                    </select>
                                   
        
                                </div>
                                </div><br><br>

                                <div class="row input-group col-md-6">
                                    <div class="col-md-4 forRequired">
                                        <label>Authority Level</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" name="authlevel" formControlName="authlevel">
                                            <option value=""  >Select one</option>
                                            <option value="Federal">Federal</option>
                                            <option value="Provincial">Province</option>
                                            <option value="Local">Local</option>
                                        
                                            
                                        </select>
                                       
            
                                    </div>
                                    </div>

                                    <div class="row input-group col-md-6">
                                        <div class="col-md-4 forRequired">
                                            <label>Ownership</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" name="ownership" formControlName="ownership">
                                                <option value=""  >Select one</option>
                                                <option *ngFor=" let item of ownership " [value]="item.id">{{ item.name}}</option>
                                                
                                            </select>
                                           
                
                                        </div>
                                        </div><br><br>

                                        <div class="row input-group col-md-6">
                                            <div class="col-md-4 forRequired">
                                                <label>Facility Type</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-control" name="ftype" formControlName="ftype">
                                                    <option value="" >Select one</option>
                                                    <option *ngFor=" let item of hftype " [value]="item.id">{{ item.name}}</option>
                                                
                                                    
                                                </select>
                                               
                    
                                            </div>
                                            </div></div><br>
                      
                       				 	<div class="col-sm-12">   स्वीकृत दरबन्दी		                                  
                                            <table id="darbandiTable" class="table table-striped table-bordered" width="100%">
                                               							

                                              <thead style="background-color:#F2F3F4;">
                                                  <tr>
                                                      <td >समूह </td>
                                                      <td>उपसमूह  </td>
                                                      <!-- <td >तह </td> -->
                                                      <td>पद </td>
                                                      <td>संख्या  </td>
                                                      <!-- <td> ! </td> -->
                                                  </tr>
                                              </thead>
                                              <tbody id="tbody">
                                                  
                                                  <tr id="row0">
                                                      <td>
                                                        <select class="form-control" name="groupid" #gid formControlName="groupid" (change)="getSubgroup(gid.value);getPost(gid.value)">
                                                                  
                                                                   <option value="">-- समूह  छान्नुहोस् --</option>
                                                                   <option *ngFor=" let item of samuha " [value]="item.id">{{ item.namenp}}</option>
                                                                    
                                                                </select></td>
                                                    <td>
                                                    <select name="subgroupid"  class="form-control" formControlName="subgroupid" >
                                                    
                                                                   <option value="">-- उपसमूह  छान्नुहोस् --</option>
                                                                   <option *ngFor=" let item of subgroup " [value]="item.id">{{ item.namenp}}</option>
                                                                  
                                                    </select> 	
                                                  </td>
                                                   
                                                  <td>
                      
                                                    <select class="form-control" name="post"  formControlName="post" >
                                                         <option value="">-- पद   छान्नुहोस् --</option>
                                                         <option *ngFor=" let item of posts " [value]="item.id">{{ item.namenp}}</option>
                                                     </select>	
                                       </td>
                                                      <td >
                                                          <input type="text" style=" text-align: right;" id="post_count0"  #aid1 name="post_count[]"  class="form-control" placeholder="संख्या लेख्&zwj;नुहोस" >
                                                      </td>
                                                      
                                                     
                                                      <!-- <td><input type="button" class="btn btn-success px-4" id="addrow" value="Add" (click)="addDetails(aid1.value)" ></td> -->
                                                     
                                                  </tr>
                                                      
                                             
                                                  
                                              </tbody>
                                              <tfoot id="foots">
                                                  <tr style="align-content: center;">
                                                      <td >
                                                          <input type="button" class="btn btn-warning px-4" id="addrow" value="Add Row" (click)="addRow(0)">
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                  </tr>
                                              </tfoot>
                                          </table>
                                          </div>
    
                      
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary px-4">Save</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-danger px-4">Reset</button>
                            </div>
                        </div>
    
    
    
                    </form>
                </div>
            </div>
        </div>
    
    
       
    </div>
    <!-- </div> -->