<div class="row" style="width: 100%; padding-bottom: 15px;">
    <div class="container-fluid" style="height: 100px;">
        <div class="d-flex justify-content-between bd-highlight mb-3">
            <div class="p-2 bd-highlight">

                <div style="padding-left: 15px;">
                    <img src="../../assets/emblem.svg" alt="Emblem of Nepal" style="height: 100px; width: 100px;">
                </div>


            </div>
            <div class="p-2 bd-highlight" style="margin-top: 20px;">

                <h2>Nepal Health Workforce Registry</h2>

            </div>
            <div class="p-2 bd-highlight">

                <div style="padding-left: 15px;">
                    <img src="../../assets/flag.svg" alt="Flag of Nepal" style="height: 90px; width: 90px;">
                </div>

            </div>
        </div>
    </div>

</div>

<div class="hr"></div>


<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item 1"><a href="javascript:void(0)" class="nav-link active" aria-current="page"
                    (click)="changeContent($event)">Home</a></li>
            <li class="nav-item 2"><a href="javascript:void(0)" class="nav-link"
                    (click)="changeContent($event)">Search</a></li>
            <li class="nav-item 3"><a href="javascript:void(0)" class="nav-link" (click)="changeContent($event)">Map</a>
            </li>
            <li class="nav-item 4"><a href="javascript:void(0)" class="nav-link"
                    (click)="changeContent($event)">Dashboard</a></li>
            <li class="nav-item 5"><a href="javascript:void(0)" class="nav-link" (click)="changeContent($event)">API</a>
            </li>
            <li class="nav-item 6"><a href="javascript:void(0)" class="nav-link" (click)="changeContent($event)">Admin
                    Login</a></li>
        </ul>
    </header>
</div>

<div class="row">
    <div class="container-fluid" style="padding: 60px;">

        <div class="1 page-body">
            <main class="svelte-1ndvb3n">
                <div class="containers svelte-d4f482">
                    <h1 class="svelte-d4f482">Health Facility Registry</h1>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <p class="svelte-d4f482"><strong>Introduction</strong></p>
                            <p class="svelte-d4f482">Health Facility Registry is an interactive web-based analytical
                                visualization tool that has a Master Inventory List of Health Facilities in Nepal with
                                unique identification code, location, type, level, and service information that can be
                                used by the Government and public .</p>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <p class="svelte-d4f482"><strong>Objectives</strong></p>
                            <ul>
                                <li>To provide detailed information about all health facilities and their location (on a
                                    live map).</li>
                                <li>To permit filtering to show different kinds of facilities and the services they
                                    provide.</li>
                                <li>To allow users to search for closest or preferred facility by name or type of
                                    service required.</li>
                                <li>To give information on shortest distance between one facility and another to
                                    enable rational planning for referral.</li>
                                <li>To visualize service coverage by population density at the Palika/Ward level.</li>
                                <li>To help planners identify gaps or clustering of specific types of services.</li>
                                <li>To enable creation of helpful graphs and tables.</li>
                                <li>To be linked with other databases to show licensing information,
                                    emergency sites for earthquake or epidemic response, and much more.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>


        <div class="2 page-body hide">

        </div>

        <div class="3 page-body hide">
            <app-maps></app-maps>
        </div>

        <div class="4 page-body hide">
            444444444444444444444444444444444444
        </div>

        <div class="5 page-body hide">
            5555555555555555555555555555555
        </div>

        <div class="6 page-body hide">
            6666666666666666666666666666666666
        </div>

    </div>
</div>