<style>
    .form-control {
        margin-bottom: 10px;
    }
</style>

<script src="../nepdate/nepali-date-picker.js"></script>
<script>
    NepDatePicker.createCalendar(document.getElementById('pick-date-example'));
</script>

<div class="container">
    <br>
    <div class="modal-header">
        <!-- <button type="button" class="btn-close close" (click)="modalRef?.hide()"> -->
            <!-- <h4 style="float: left;" class="modal-title pull-left">Add Details</h4> -->
            <h4 class="modal-title pull-left" *ngIf="isEdit==1"> Edit Employee {{post}}</h4>
            <h4 class="modal-title pull-left" *ngIf="isEdit!=1"> Add Employee {{post}}</h4>
            
            <button type="button" style="float: right;" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button><br>

    </div>
    <div *ngIf="isEdit!=1">
        <div  *ngFor=" let item of transfer "><a href="javascript:void(0)" (click)="patchemployee(item.tid,item.empid)" >{{item.empname}}</a>(Transfered)</div>
        </div>
    <div class="modal-body">
        <form class="form-signin" [formGroup]="officeForm" (ngSubmit)="officeFormSubmit()">
            <input type="hidden" class="form-control" name="id" formControlName="id">
            <input type="hidden" class="form-control" name="orgidint" formControlName="orgidint">
            <input type="hidden" class="form-control" name="workforceid" formControlName="workforceid">
            <input type="hidden" class="form-control" name="darbandiid" formControlName="darbandiid">
            <input type="hidden" class="form-control" name="detailsid" formControlName="detailsid">
            <input type="hidden" class="form-control" name="tid" formControlName="tid">
           
            <div class="row col-md-12">

                <div class="col-md-6">
                    <div class="row input-group col-md-12">
                        <div class="col-md-4">
                            <label>काउन्सिल </label>
                        </div>
                        <div class="col-md-8">
                           
                            <select class="form-control" name="council" formControlName="council" #cid (change)="getQualification(eid.value,cid.value)">
                                <option value="">--    छान्नुहोस् --</option>
                                <option *ngFor=" let item of council " [value]="item.id">{{ item.namenp}}</option>
                            </select>	
                            <span style="color: red;"
                            *ngIf="officeForm.controls.council && officeForm.controls.council.invalid && officeForm.controls.council.touched">Required Field</span>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row input-group col-md-12">
                            <div class="col-md-4">
                                <label>काउन्सिल नं. </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" #nmc name="council_no" (blur)="getnmc(nmc.value)" formControlName="council_no">
                                <span style="color: red;"
                            *ngIf="officeForm.controls.council_no && officeForm.controls.council_no.invalid && officeForm.controls.council_no.touched">Required Field</span>
                            </div>
                        </div>
                        </div>

                <div class="col-md-6">
            <div class="row input-group col-md-12">
                <div class="col-md-4 forRequired">
                    <label>पुरा नाम  English</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="nameen" formControlName="nameen">
                    <span style="color: red;"
                        *ngIf="officeForm.controls.nameen && officeForm.controls.nameen.invalid && officeForm.controls.nameen.touched">Required Field</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row input-group col-md-12">
                <div class="col-md-4">
                    <label>पुरा नाम  नेपाली </label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="namenp" formControlName="namenp">
                    <span style="color: red;"
                        *ngIf="officeForm.controls.namenp && officeForm.controls.namenp.invalid && officeForm.controls.namenp.touched">Required Field</span>
                </div>
            </div></div>
            <div class="col-md-6">
            <div class="row input-group col-md-12">
                <div class="col-md-4 forRequired">
                    <label>ठेगाना</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="address" formControlName="address">
                    <span style="color: red;"
                        *ngIf="officeForm.controls.address && officeForm.controls.address.invalid && officeForm.controls.address.touched">Required Field</span>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row input-group col-md-12">
                <div class="col-md-4">
                    <label>इमेल</label>
                </div>
                <div class="col-md-8">
                    <input type="email" class="form-control" name="email" formControlName="email">
                    <span style="color: red;"
                    *ngIf="officeForm.controls.email && officeForm.controls.email.invalid && officeForm.controls.email.touched">Required Field</span>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row input-group col-md-12">
                <div class="col-md-4">
                    <label>मोवाइल  नं.</label>
                </div>
                <div class="col-md-8">
                    <input type="number" class="form-control" name="mobile" formControlName="mobile">
                    <span style="color: red;"
                    *ngIf="officeForm.controls.mobile && officeForm.controls.mobile.invalid && officeForm.controls.mobile.touched">Required Field</span>
                </div>
            </div>
            </div>

            <div class="col-md-6">
                <div class="row input-group col-md-12">
                    <div class="col-md-4">
                        <label>नियुक्ति किसिम </label>
                    </div>
                    <div class="col-md-8">
                       
                        <select class="form-control" name="emptype" formControlName="emptype" #tid (change)="getPis(tid.value)">
                            <option value="">-- छान्नुहोस् --</option>
                            <option *ngFor=" let item of emptype " [value]="item.id">{{ item.namenp}}</option>
                        </select>
                        <span style="color: red;"
                        *ngIf="officeForm.controls.emptype && officeForm.controls.emptype.invalid && officeForm.controls.emptype.touched">Required Field</span>
                    </div>
                </div>
                </div>

                <div class="col-md-6">
                    <div class="row input-group col-md-12">
                        <div class="col-md-4">
                            <label>तह</label>
                        </div>
                        <div class="col-md-8">
                            
                            <select class="form-control" name="level" formControlName="level" >
                                <option value="">-- छान्नुहोस् --</option>
                                <option *ngFor=" let item of levl " [value]="item.id">{{ item.namenp}}</option>
                            </select>
                            <span style="color: red;"
                            *ngIf="officeForm.controls.level && officeForm.controls.level.invalid && officeForm.controls.level.touched">Required Field</span>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row input-group col-md-12">
                            <div class="col-md-4">
                                <label>नियुक्ति मिति</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="apoint_date" id="apoint_date" formControlName="apoint_date">
                                <span style="color: red;"
                                *ngIf="officeForm.controls.apoint_date && officeForm.controls.apoint_date.invalid && officeForm.controls.apoint_date.touched">Required Field</span>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row input-group col-md-12">
                                <div class="col-md-4">
                                    <label>हाजिर भएको मिति </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="date" class="form-control" name="att_date" formControlName="att_date">
                                    <span style="color: red;"
                                    *ngIf="officeForm.controls.att_date && officeForm.controls.att_date.invalid && officeForm.controls.att_date.touched">Required Field</span>
                                </div>
                            </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row input-group col-md-12">
                                    <div class="col-md-4">
                                        <label>पद संग सम्बन्धित माथिल्लो शैक्षिक योग्यता </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" name="education" formControlName="education" #eid (change)="getQualification(eid.value,cid.value)" >
                                            <option value="">--    छान्नुहोस् --</option>
                                            <option *ngFor=" let item of elevel " [value]="item.id">{{ item.namenp}}</option>
                                        </select>
                                        <span style="color: red;"
                                    *ngIf="officeForm.controls.education && officeForm.controls.education.invalid && officeForm.controls.education.touched">Required Field</span>
                                    </div>
                                </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row input-group col-md-12">
                                        <div class="col-md-2">
                                            <label>Qualification </label>
                                        </div>
                                        <div class="col-md-8">
                                              <ng-select name="qualification" #eid formControlName="qualification" >
                                                <ng-option  [value]="">--    छान्नुहोस् --</ng-option>
                                    <ng-option *ngFor="let item of qual" [value]="item.id">{{item.namenp}}</ng-option>
                                 </ng-select>
                                            <!-- <select class="form-control" name="qualification" formControlName="qualification" #eid  >
                                                <option value="">--    छान्नुहोस् --</option>
                                                <option *ngFor=" let item of qual" [value]="item.id">{{ item.namenp}}</option>
                                            </select> -->
                                            <span style="color: red;"
                                        *ngIf="officeForm.controls.qualification && officeForm.controls.qualification.invalid && officeForm.controls.qualification.touched">Required Field</span>
                                        </div>
                                    </div>
                                    </div>

                               
                                        <div class="col-md-6" id="pisno" style="display: none;">
                                            <div class="row input-group col-md-12">
                                                <div class="col-md-4">
                                                    <label>PIS Number </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="pis" formControlName="pis">
                                                   
                                                </div>
                                            </div>
                                            </div>



        </div>


            
            

          
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Save</button>
                </div>
                <div class="col-6 text-right">
                    <button #resetbutton type="reset" class="btn btn-danger px-4">Reset</button>
                </div>
            </div>

        </form>
    </div>
</div>

