<!-- <div id="oas_reading" class="oas-reading"> -->
    <div class="row">
        
        <div class="col-md-12">
            <div class="card">
    
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Workforce Employee  List
                </div>
    
                <div class="card-body">
                    <form class="form-srch" [formGroup]="srchForm">

                        <div class="input-group">
                            
                            <input class="form-control" placeholder="Enter Council number" id="srch_term" name="srch_term" type="text" formControlName="srch_term" (keyup.enter)="search()">
    
                            <button class="btn btn-default" type="button" (click)="search()"><i class="fa fa-search"></i></button>
    
                        </div>
                    </form>
                    <hr />
    
                    <table class="table table-bordered table-striped table-sm tbl-sortable">
                        <thead>
                            <tr>
                                <th>Employee code</th>
                                <th>Organization Name</th>
                                <th>Organization Address</th>
                                <th>Employee Name</th>
                                <th>Employee Address</th>
                                <th>Council</th>
                                <th>Council No.</th>
                                <th>Employee Type</th>
                                <!-- <th>Actions</th> -->
    
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let item of lists; let i = index; ">
                                <td>{{item.code}}</td>
                                <td>{{item.orgname}} {{item.hf_name}} {{item.vcname}}</td>
                                <td>{{item.province}} {{item.district}}</td>
                                <td>{{item.namenp}}</td>
                                <td>{{item.address}} </td>
                                <td>{{item.council}} </td>
                                <td>{{item.council_no}} </td>
                                <td>{{item.emptype}} </td>
                                <td><a  class="btn btn-success"  href="javascript:void(0)" (click)="transferEmp(item.id,item.namenp,item.wid)"><i
                                            class="fa fa-refresh"></i> Transfer</a>&nbsp;&nbsp;
                                            <a class="btn btn-info" href="javascript:void(0)" title=""
                                        (click)="retire(item.id,item.namenp,item.wid)"><i class="fa fa-reply"></i> Retire</a>
                                    </td>
                            </tr>
        
                        </tbody>
                    </table>

                    <form [formGroup]="srchForm">
                        <div class="row" style="float:right">
                            <div class="col-md-12 smallbr">
                                Entries <select name="entries" id="entries" formControlName="entries" (change)="search()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </form>
    
                    <div class="col-md-6">
                        <pagination [rotate]="true" [maxSize]="5" [totalItems]="pagination.total" [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" [itemsPerPage]="pagination.perPage" (pageChanged)="paginatedData($event)"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                        ></pagination>
                      </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->